# Frontend Web Application Environment Configuration
NODE_ENV=development

# Backend API Endpoint
NEXT_PUBLIC_API_URL="http://localhost:4000/api/v1"

# Application Metadata
NEXT_PUBLIC_APP_NAME="LibraryHub"

# Cloudinary Client Direct Uploads
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dkc2fkpkp"

# Razorpay Client Key ID
NEXT_PUBLIC_RAZORPAY_KEY_ID="rzp_test_TY0J274cB5Ztcg"

# Web Push Notification Public VAPID Key
NEXT_PUBLIC_VAPID_PUBLIC_KEY="BGQJyy-lDjebPrLpBVsTyHKMrQ4yYA6KPOJiVS30Vy9I_rEve_PDJGoVKSbt2IV148x_f3Ko9tkPSxxH3JeGDnE"


# Google Oauth
NEXT_PUBLIC_GOOGLE_CLIENT_ID="872304322550-h2ltecllu0imjm2bbopatlmca8l372a6.apps.googleusercontent.com"
